body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    text-align: center;
    background-color: #000!important;
    justify-content: center;
    padding: 8px 5px;
}

.navbar__logo h2 i{
    color:orange;
}

.container {
    margin: 0 auto;
    max-width: 1050px;
}

.info {
    text-align: center;
}

.container hr {
    border:1px solid #50D6FF;
}

.menu {
    display: flex;
    text-align: center;
}

.br {
    border-radius: 6px;
    margin: 0.3rem;
    padding: 1rem;
    background-color: #B4FBFF;
}

.menu button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #50D6FF;
    color: white;
    border: none;
    border-radius: 4px;
}

.links {
    text-align: center;
    margin: 5px;
}

.badge {
    text-decoration: none;
    border-radius: 5px;
    background-color: red;
    color: orange;
    padding: 2px 5px;
    font-weight: bolder;
}


@media screen and (max-width : 450px) {
    .menu {
        display: table;
    }
}