body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    text-align: center;
    background-color: #000!important;
    justify-content: center;
    padding: 8px 0px;
}

.navbar__logo h2 i{
    color:orange;
}

.container {
    margin: 0 auto;
    max-width: 1050px;
}

.info {
    text-align: center;
}

.container hr {
    border:1px solid #50D6FF;
}

.br {
    border-radius: 6px;
    margin: 0.3rem;
    padding: 1rem;
    background-color: #B4FBFF;
}

.links {
    text-align: center;
    margin: 5px;
}


.copyright {
    text-align: right;
    font-size: 5px;
}

.copyright a {
    color: gray;
}

.links {
    display: none;
}

.ad-banner {
    width: 320;
    height: 250;
    text-align: center;
    margin: 0 auto;
}

.reaction {
    text-align: center;
}

.game {
    padding: 75px;
    border: none;
    background-color: indianred;
    margin-bottom: 10px;
}

.number__text {
    padding: 10px;
    font-weight: bolder;
}



@media screen and (max-width : 450px) {
    .links {
        text-align: center;
        margin: 0 auto;
        display: table;
        padding-top: 8px;
    }
}