body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    text-align: center;
    background-color: #000 !important;
    justify-content: center;
    padding: 8px 0px;
}

.navbar__logo h2 i {
    color: orange;
}

.container {
    margin: 0 auto;
    max-width: 1050px;
}

.info {
    text-align: center;
}

.container hr {
    border: 1px solid #50d6ff;
}

.br {
    border-radius: 6px;
    margin: 0.3rem;
    padding: 1rem;
    background-color: #b4fbff;
}

.memory {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
}
.line {
    display: block;
}

.btn {
    width: 20%;
    height: 6rem;
    border: 4px solid #e59551;
    background-color: #b4fbff;
}

.game__info {
    text-align: center;
}

.difficult {
    text-align: center;
    margin-bottom: 1rem;
}

.difficult button {
    width: 45%;
    height: 50px;
}

.copyright {
    text-align: right;
    font-size: 5px;
}

.copyright a {
    color: gray;
}

.links {
    text-align: center;
    margin: 5px;
}
.ad-banner {
    width: 320;
    height: 250;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
    .menu {
        margin: 0 auto;
        display: table;
    }

    .container {
        margin: 0 auto;
        max-width: 90%;
    }

    .links {
        text-align: center;
        margin: 0 auto;
        display: table;
        padding-top: 8px;
    }
}
